<%if @impact.positive_impact%>
    <h1>Gute Nachbarschaft bearbeiten</h1>
<% else %>
    <h1>Schlechte Nachbarschaft bearbeiten</h1>
<% end %>

<%= render 'form', impact: @impact %>

<%= link_to 'Ohne Speichern zurück', plant_path(@impact.influencee) %>

<%= link_to 'Diese Nachbarschaft löschen', @impact, method: :delete, data: { confirm: 'Bist du sicher?' }, class: "float-right" %>
