<%if @impact.positive_impact%>
    <h1>Neue gute Nachbarschaft anlegen</h1>
<% else %>
    <h1>Neue schlechte Nachbarschaft anlegen</h1>
<% end %>

<%= render 'form', impact: @impact %>

<%= link_to 'Ohne Speichern zurück', plant_path(@impact.influencee) %>

