<section>
    <h1>Impressum</h1>
    <p>"Nachbarpflanzen" entstand im Rahmen einer Projektarbeit an der FH M체nster in Zusammenarbeit mit dem <a href="https://campusgarten.wordpress.com/">Campusgarten Gr체neBeete</a> aus M체nster. <p>
    <p>Quelltext: <a href="https://github.com/milenawa/nachbarpflanzen">https://github.com/milenawa/nachbarpflanzen</a></p>
    <p>Kontakt: mw594603@fh-muenster.de</p>
</section>
<section>
    <h1>Datenschutz</h1>
    <p>"Nachbarpflanzen" wird auf Servern von <a href="https://www.heroku.com/">Heroku</a> betrieben.</p>

    <p>Somit gilt die Datenschutzerk채rung von Heroku: <a href="https://www.salesforce.com/de/company/privacy/">https://www.salesforce.com/de/company/privacy/</a></p>
</section>