<section>
<h1>Mischkultur</h1>

<p>Eine Mischkultur im Garten bringt viele Vorteile mit sich. Werden Pflanzen richtig nebeneinander gepflanzt, werden die Nährstoffe im Boden effizienter genutzt und Schädlinge ferngehalten. Nachbarschaften, die vermieden werden sollten, gibt es jedoch auch. Diese Seite soll dabei helfen, die Erstellung eines Pflanzplans nach dem Mischkulturprinzip zu vereinfachen.</p>

<p>Eine zugrundeliegende Datenbank speichert dafür allgemeine Informationen über die Pflanzen und weiterhin welche Pflanzen sich als gute Nachbarn anbieten und welche nicht („schlechte Nachbarn“).</p>

<p>In der Detailansicht jeder Pflanze lassen sich gute und schlechte Nachbarn hinzufügen. Außerdem kann eine Begründung angegeben werden, die beschreibt inwieweit die Nachbarpflanze Vorteile bzw Nachteile bringt.
Als Nachbarpflanze hinzugefügt werden kann nur eine Pflanze, die bereits in der Datenbank angelegt ist. Je nachdem muss diese also erst angelegt werden und kann dann als Nachbar hinzugefügt werden.
Profitieren zwei Pflanzen gegenseitig voneinander, muss für jede Pflanze der jeweils andere als Nachbar angelegt werden. Dasselbe gilt für schlechte Nachbarpflanzen.</p>

</section>