<p id="notice"><%= notice %></p>

<h1>Liste aller Pflanzen</h1>

<section>
  <div class="list-group">
    <% @plants.each do |plant| %>
      <%= link_to plant.name, plant, class: "list-group-item list-group-item-action" %>
    <% end %>
    <%= link_to new_plant_path, class: "list-group-item list-group-item-action list-group-item-light" do %>
      <i class="fas fa-plus"></i> Pflanze hinzufügen
    <% end %>
  </div>
</section>
